@model IEnumerable<Dw23787.Models.Groups>
@using Dw23787.Data
@using System.Security.Claims
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">

@{
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var user = _context.UsersApp.FirstOrDefault(u => u.UserID == userId);
}
@if (@user.isAdmin != true)
{
    <h1>Grousp owned by @user.Name</h1>
}
else
{

    <h1>List Of Groups</h1>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
