@model IEnumerable<Dw23787.Models.Trips>
@using Dw23787.Data
@using System.Security.Claims
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">

    @{
        string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        var user = _context.UsersApp.FirstOrDefault(u => u.UserID == userId);
    }
    @if (@user.isAdmin != true)
    {
        <h1>Trips Created By @user.Name</h1>
        <p>
            <a class="btn btn-success" asp-action="Create">Create New</a>
        </p>
    }
    else
    {

        <h1>List Of Trips</h1>
        <p>
            <a class="btn btn-success" asp-action="Create">Create New</a>
        </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InicialBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InicialBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalBudget)
            </td>
            <td style="max-width: 150px;">
                <img src="~/images/@item.Banner" alt="Trip Banner" style="height:50px; max-width: 150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>